.form__item {
    flex: 1;
    margin: 10px 0;
    word-break: break-all;
}

.form__label {
    display: flex;
    align-items: center;
    gap: 12px;
}

.form__input,
.form__select,
.form__textarea {
    display: inline-flex;
    width: 100%;
    border: 1px solid var(--color-gray-bd);
    border-radius: var(--border-radius);
    padding: var(--form-padding);
    font-size: var(--font-size);
}

.form__input,
.form__select {
    height: 40px;
}

.form__textarea {
    resize: none;
    min-height: 80px;
    padding: 12px 16px;
}

.form__input[type=checkbox],
.form__input[type=radio] {
    width: 16px;
    height: 16px;
}

.form__input[type=checkbox]:checked,
.form__input[type=radio]:checked {
    background-color: var(--color-red);
    border-color: red;
}

.input__text {
    flex: 1 100%;
    word-break: break-all;
}

.form__label__file {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: 175px;
    border: 2px dashed var(--color-gray-bd);
    border-radius: var(--border-radius);
    padding: var(--form-padding);
    cursor: pointer;
}

.form__label__file:hover {
    background-color: var(--color-gray-cc-20);
    transition: .2s;
}

.form__input__file__icon {}

.form__file__text {
    color: var(--color-gray-bd);
    text-align: center;
}
