/* Bin.module.css */

.bin__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 15px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.bin__bottom {
  width: 15px;
}

.bin__top {
  width: 17px;
  transform-origin: right;
  transition-duration: 0.3s;
}

.bin__button:hover .bin__top {
  transform: rotate(45deg);
}

.bin__button:active {
  transform: scale(0.9);
}
