.item {
    flex: 1 100%;
    max-width: 270px;
    margin: 5px;
}

.item__130 {
    max-width: 130px;
}

.item__icon {
    display: inline-flex;
    flex: auto;
    width: auto;
    max-width: unset;
    margin: 0;
}

.item button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 12px;
    width: 100%;
    min-height: 38px;
    background: var(--color-white);
    border: 1px solid var(--color-white);
    border-radius: var(--border-radius);
    cursor: pointer;
}


.item button[data-button=iconButton] {
    padding: 0;
    width: auto;
    min-height: unset;
    height: auto;
    background-color: transparent;
    border-color: transparent;
}

.item [data-button=text] {
    font-weight: 600;
    font-size: var(--font-button);
}

.item button[data-button=primary] {
    background: var(--color-primary);
    border: 1px solid var(--color-primary);
}

.item button[data-button=primary]:hover {
    background-color: var(--color-primary-button-hover);
}

.item button[data-button=primary] [data-button=text] {
    color: var(--color-gray-f5);
}

.item button[data-button^=white]:hover {
    background-color: var(--color-gray-cc-20);
}

.item button[data-button=whiteRed] {
    background: var(--color-white);
    border: 1px solid var(--color-red);
    color: var(--color-red);
}

.item button[data-button=whiteRed]:hover {
    background-color: var(--color-gray-cc-20);
}

.item button[data-button=whitePrimary] {
    background: var(--color-white);
    border: 1px solid var(--color-primary);
    color: var(--color-primary)
}

.item button[data-button=whitePrimary] [data-button=text] {
    color: var(--color-primary);
}