.container {
    background-color: #f0f8ff;
    width: 906px;
    height: 1266.33px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    position: relative;
  }
  
  .box {
    background-color: white;
    width: 600px;
    height: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    border-radius: 8px;
  }