.item {
    flex: 1;
    margin: 10px 0;
    word-break: break-all;
}

::placeholder {
    color: var(--color-gray-bd);
}

.item label {}

.item input,
.item select,
.item textarea {
    display: inline-flex;
    width: 100%;
    border: 1px solid var(--color-gray-bd);
    border-radius: var(--border-radius);
    padding: var(--form-padding);
    font-size: var(--font-size);
}

.item input,
.item select {
    height: 40px;
}

.item textarea {
    resize: none;
    min-height: 80px;
    padding: 12px 16px;
}

.item label[data-label=checkbox],
.item label[data-label=radio] {
    display: flex;
    align-items: center;
    gap: 12px;
}

.item input[type=checkbox],
.item input[type=radio] {
    width: 16px;
    height: 16px;
}

.item input[type=checkbox]:checked,
.item input[type=radio]:checked {
    background-color: var(--color-red);
    border-color: red;
}

.item input[type=checkbox] [data-input=text],
.item input[type=radio] [data-input=text] {
    flex: 1 100%;
    word-break: break-all;
}

.item label[data-label='file'] {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    width: 100%;
    height: 175px;
    border: 2px dashed var(--color-gray-bd);
    border-radius: var(--border-radius);
    padding: var(--form-padding);
    cursor: pointer;
}

.item label[data-label='file']:hover {
    background-color: var(--color-gray-cc-20);
    transition: .2s;
}

.item input[type='file'] {
    opacity: 0;
    width: 0;
    height: 0;
    padding: 0;
    margin: 0;
    border: 0;
    position: absolute;
    background-color: transparent;
    font-size: 0;
    text-indent: -9999px;
}

.input__file__icon {}

.file__text {
    color: var(--color-gray-bd);
    text-align: center;
}