/* container */
.container {
    position: relative;
    flex: 1;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 76px;
}

.container::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 196px;
    height: 100%;
    background-color: var(--color-white);
}

/* title */
.title__wrap {
    margin-bottom: 20px;
}

.title {
    display: flex;
    font-weight: 700;
    font-size: 140px;
    line-height: 1.5;
    letter-spacing: -0.03em;
}

.title__left {
    padding-right: 2px;
    color: var(--color-white);
}

.title__right {
    position: relative;
    background: linear-gradient(180deg, #4DA7FF 0%, #84cdfbd7 67.5%, #b1edf8b5 100%) no-repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

/* title__sub */
.title__sub {
    padding-left: 52px;
    margin-top: 10px;
}

.title__sub__text {
    font-weight: 100;
    font-size: var(--font-size-text2);
    line-height: 1.2;
    color: #EDFCED;
}

/* Login Form */
.login__form__wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 240px;
    box-sizing: content-box;
}

.login__button {
    margin: 10px 0;
}

.login__button [class=button__text] {
    font-weight: 400;
    font-size: var(--font-size);
}

.checkbox__save {
    margin-left: 10px;
    color: var(--color-black);
}

.user__account {
    letter-spacing: 2px;
}

.user__account__link {
    color: var(--color-white);
    font-weight: 200;
    font-size: var(--font-size-sub);
    line-height: 1.45;
    letter-spacing: 0.5px;
    vertical-align: middle;
}

.user__account__link::after {
    content: '|';
    display: inline-block;
    width: 10px;
    margin: 0 4px;
    text-align: center;
}

.user__account__link:last-of-type::after {
    content: none;
}

.user__account__link:hover {
    text-decoration: underline;
}