.map__container {
    padding: 95px 46px 95px 270px;
}

.map__list {
    fill: var(--color-gray-cc);
    stroke: var(--color-white);
    stroke-width: 3px;
    max-width: 100%;
}

.city a {
    transition: .2s;
}

.city a:hover {
    filter: invert(5%);
}

[data-count='0'] {
    fill: var(--color-gray-cc);
}

[data-count='1'] {
    fill: var(--color-blue-1a);
    fill-opacity: 0.2;
}

[data-count='2'] {
    fill: var(--color-blue-1a);
    fill-opacity: 0.4;
}

[data-count='3'] {
    fill: var(--color-blue-1a);
    fill-opacity: 0.6;
}

[data-count='4'] {
    fill: var(--color-blue-1a);
    fill-opacity: 0.8;
}

[data-count='5'] {
    fill: var(--color-blue-1a);
    fill-opacity: 1;
}

.city__wrap {}

.city__list {
    max-width: 100%;
}