.list {
    /* 전체 레이아웃 */
    display: flex;
    justify-content: center;
    border-radius: 0px;
}

.list__ul {
    /* Flexbox 설정 */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 30px;
    width: 100%;
}

.list__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(33.33% - 20px);
    /* 카드 간 위쪽 여백 */
    transition: transform 0.2s;
    /* 부드러운 변환 효과 */
}

.list__item:hover {
    transform: scale(1.02);
    /* 마우스 오버 시 확대 효과 */
}

.list__add {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(33.33% - 20px);
    transition: transform 0.2s;
    /* hover 효과 */
}

.list__add:hover {
    transform: scale(1.02);
    /* 마우스 오버 시 확대 효과 */
}