.sidebar {
    width: 250px;
    height: 100vh;
    background-color: rgba(44, 62, 80, 0.9); /* 배경 투명도 조절 */
    color: white;
    padding: 20px;
    position: fixed; /* 고정 위치로 설정 */
    z-index: 10; /* 사이드바가 다른 요소 위에 보이도록 z-index 설정 */
}

.faq-list {
    margin-left: 300px; /* 사이드바 너비 만큼 여백 추가 */
    padding: 20px;
    position: relative; /* 일반 흐름에 맞추어 위치 */
    z-index: 1; /* 사이드바 아래에 위치하도록 z-index 낮추기 */
}